apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: microservices-prod
spec:
  type: NodePort
  selector:
    app: user-service
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30080

